@use '@/styles/mixins'as *;

.liveDetailPage {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: #f9fafb;
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.pageName {
  display: flex;

  justify-content: flex-start;
  padding: 0 20px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 600;
  color: #191f28;

  svg {
    margin-top: 2px;
    margin-left: 5px;
    font-size: 18px;
    color: #333d4b;
  }
}


.section {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}

.stockName {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 2px;
}

.stockDescription {
  font-size: 15px;
  font-weight: 400;
  color: #333d4b;
  margin-bottom: 8px;
}

.stockDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 25px;
  background-color: #e8f3ff;
  border-radius: 13px;
  font-weight: 500;
  font-size: 15px;
  margin-top: 30px;
  color: #1172f9;
  gap: 5px;
}

.moreInfoButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #8b95a1;
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    margin-left: 3px;
  }
}

.stockInfoItem {
  display: flex;
}

.stockInfoLabel {
  min-width: 120px;
}

.lastUpdatedTime {
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: #8b95a1;
}

.securityInfoItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 8px;
  background-color: white;
  border-radius: 26px;
  padding-top: 15px;
  padding-bottom: 25px;
  isolation: isolate;
}

.securityInfoItem {
  padding: 0 20px;
  display: flex;
  gap: 10px;
  height: 17px;
  font-size: 14px;
  font-weight: 400;

}

.securityName {
  flex: 3;
}

.rate {
  flex: 4;
  text-align: center;
}

.tableHeader {
  padding-top: 5px;
  padding-bottom: 20px;
  font-weight: 700;
}

.notFound {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

@include larger-than(700px) {
  .section {
    max-width: 540px;
  }

  .securityInfoItem {
    font-size: 15px;
  }

  .securityName {
    flex: 2;
  }

  .rate {
    flex: 3;
    text-align: center;
  }

  .tableHeader {
    padding-top: 5px;
    padding-bottom: 25px;
    font-weight: 700;
  }
}