.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    background-color: #2b5eff;
    color: #f9fafb;
    font-size: 18px;
    font-weight: 600;
}