@use '@/styles/mixins'as *;

.sectionHeader {
    width: 100%;

    &.selfIndent {
        @include horizontal-padding;
    }

    .title {
        width: 100%;
        font-size: 20px;
        font-weight: 600;
    }

    .subtitle {
        width: 100%;
        margin-top: 3px;
        font-size: 14px;
        color: #8b95a1;
    }
}