@use '@/styles/mixins'as *;

.section {
    width: 100%;
    @include horizontal-padding;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 13px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 10px;
    gap: 5px;

}