@use '@/styles/mixins'as *;

.stockCard {
    display: flex;
    background-color: #f9fafb;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 15px;
    max-width: 540px;
    min-height: 90px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 15px;
}

.securities {
    color: #333d4b;
    font-size: 12px;
    margin-top: 3px;
}

.details {
    color: #8b95a1;
    font-size: 12px;
    margin-top: 5px;
}

.chips {
    display: flex;
    align-items: center;

    margin-top: 5px;
    color: #333d4b;
    font-size: 12px;
}

.chip {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.moreSecurity {
    display: flex;
    align-items: center;
    color: #333d4b;
    margin-left: 3px;
    font-size: 12px;
    line-height: 100%;

    i {
        font-size: 12px;
    }
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
}

.dateDiff {
    color: red;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

.startingDate {
    color: #8b949e;
    font-size: 13px;
}

@include larger-than(700px) {
    .stockCard {
        padding: 30px 20px;
    }

    .date {
        width: 50px;
    }

    .dateDiff {
        font-size: 20px;
    }

    .startingDate {
        margin-top: 3px;
        font-size: 15px;
    }

    .name {
        font-size: 20px;
    }

    .securities {
        margin-top: 5px;
        font-size: 15px;
    }

    .details {
        margin-top: 5px;
        font-size: 15px;
    }

    .chips {
        margin-top: 10px;
        gap: 10px;
    }

    .chip {
        padding: 6px 9px;
        border-radius: 12px;
        font-size: 15px;
    }

    .moreSecurity {
        font-size: 15px;

        i {
            font-size: 15px;
        }
    }
}