.stockCard {
    display: flex;
    height: 60px;
}

.price {
    font-size: 15px;
    color: #3c3c3c;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
}

.dateDiff {
    color: red;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

.startingDate {
    color: #8b949e;
    font-size: 13px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    width: 180px;
}

.name {
    font-size: 14px;
    font-weight: 500;
    color: #333d4b;
    margin: 7px 5px;
}

.securities {
    display: flex;
    align-items: center;
    gap: 5px;
}

.security {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 9px;
    background-color: #f3f3f3;
    border-radius: 12px;
    font-size: 12px;
    color: #333d4b;
}

.moreSecurity {
    color: #333d4b;
    margin-left: 5px;
    font-size: 12px;
}


.price {
    display: flex;
    align-items: center;
    font-size: 14px;
}