@use '@/styles/mixins'as *;

.stockCards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@include larger-than(700px) {
    .stockCards {
        gap: 25px;
    }
}