@use '@/styles/mixins'as *;

.section {
    width: 100%;
    padding: 20px 0;
}

.content {
    display: flex;
    width: 100%;
    gap: 10px;
    overflow-x: scroll;
    @include horizontal-padding;
    padding-top: 20px;


    &::-webkit-scrollbar {
        display: none;
    }
}

.stockCard {
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    padding: 20px 15px 10px;
    background-color: #f9fafb;
    height: 100px;
    min-width: 100px;
    font-weight: 500;
    cursor: pointer;
}

.date {
    margin-bottom: 10px;
    font-size: 11px;
    color: #8b95a1;
}

.name {
    font-size: 14px;
    margin-bottom: 4px;
    line-height: 1.2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.rate {
    font-size: 15px;
}

.showMore {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    font-size: 11px;
    color: #9595af;
}


@include larger-than(700px) {
    .stockCard {
        height: 130px;
        min-width: 130px;
    }

    .date {
        font-size: 15px;
    }

    .name {
        font-size: 19px;
    }

    .rate {
        font-size: 20px;
    }

    .showMore {
        font-size: 15px;
    }
}