@use '@/styles/mixins'as *;


.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  @include horizontal-padding;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  color: rgb(0, 0, 0);

  .secondLine {
    display: flex;
    line-height: 1.5;
  }

  .ddasang {
    color: #f52f52;
    font-weight: 600;
  }
}

.space {
  display: none;
}

.introduction,
.promotion {
  text-align: center;
}

.promotion {
  line-height: 1.5;
  font-size: 25px;
  font-weight: 600;
  color: #1e63ff;
}

@include larger-than(700px) {
  .introduction {
    font-size: 50px;

    .secondLine {
      display: flex;
    }
  }

  .space {
    display: block;
  }

  .promotion {
    font-size: 45px;

  }
}