@mixin smaller-than($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin larger-than($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin horizontal-sizing {
    width: 100%;
    max-width: 1180px;
}

@mixin horizontal-padding {
    padding-left: 15px;
    padding-right: 15px;

    @include larger-than(500px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include larger-than(850px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@mixin horizontal-margin {
    margin-left: 15px;
    margin-right: 15px;

    @include larger-than(500px) {
        margin-left: 20px;
        margin-right: 20px;
    }

    @include larger-than(850px) {
        margin-left: 50px;
        margin-right: 50px;
    }
}