@use '@/styles/mixins'as *;

.header {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
}


.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include horizontal-sizing;
    @include horizontal-padding;

}

.logoContainer {
    display: flex;
    align-items: center;
    margin-left: 4px;
    font-size: 20px;
    font-weight: 600;
    gap: 4px;
    cursor: pointer;
}


.description {
    color: #4e5968;
}

.menus {
    display: flex;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 8px;
    color: #4e5968;
    word-break: keep-all;

    a {
        padding: 12px 10px;
        font-size: 17px;
        line-height: 100%;
        color: #4e5968;
        border-radius: 8px;
        border: 0;
        cursor: pointer;
        background-color: transparent;
        text-decoration: none;
        text-align: left;
    }

    a:hover {
        background-color: rgba(2, 32, 71, .05);
    }
}

.showMenuButton {
    display: none;
}

@include smaller-than(850px) {
    .menus {
        position: fixed;
        display: none;
        flex-direction: column;
        left: 0;
        top: 60px;
        width: 100%;
    }

    .showMenuButton {
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        color: rgb(176, 184, 193);
        cursor: pointer;

        i {
            font-size: 30px;
        }
    }



    .showMenus {
        border-bottom: 1px solid white;

        .menus {
            display: flex;
            padding: 10px 0;
            border-bottom: 1px solid #e7e7e7;
            box-shadow: 1px 4px 8px rgb(0 0 0 / 10%);
            background-color: white;
        }

        .menu {
            display: flex;
            width: 100%;
            font-size: 15px;
            padding: 1px 12px;
            margin-left: auto;


            a {
                padding: 10px;
            }
        }


    }
}