@use '@/styles/mixins'as *;

.section {
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    @include horizontal-padding;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 40px;
    border-radius: 13px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
    gap: 5px;
}