@use '@/styles/mixins'as *;

.liveDetailPage {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 50px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  .lastUpdatedTime {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: #8b95a1;
  }
}

.stockInfo {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
  @include horizontal-padding;

  .stockStatus {
    width: fit-content;
    font-size: 16px;
    padding: 3px 14px;
    font-weight: 500;
    border-radius: 15px;
    color: #333d4b;
    background-color: #f9fafb;
  }

  .stockName {
    margin-top: 5px;
    margin-left: 3px;
    font-size: 24px;
    font-weight: 600;
  }

  .stockSecurities {
    margin-top: 3px;
    margin-left: 3px;
    font-size: 15px;
    font-weight: 500;
    color: #333d4b;
  }
}

.moreInfoButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #8b95a1;
  cursor: pointer;
}

.stockInfoItem {
  display: flex;

  .stockInfoLabel {
    min-width: 120px;
  }
}

.securityInfoItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 8px;
  background-color: white;
  border-radius: 26px;
  padding-top: 15px;
  padding-bottom: 25px;
  isolation: isolate;
}

.securityInfoItem {
  display: flex;
}

.securityName {
  flex: 3;
}

.rate {
  flex: 4;
  text-align: center;
}

.tableHeader {
  padding-top: 5px;
  padding-bottom: 23px;
  font-weight: 700;
}

.roundedContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  color: #333d4b;
  gap: 5px;
  width: 100%;
  padding: 20px 25px;
  background-color: #f9fafb;
}

.notFound {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.notStarted {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  color: #8b95a1;
}

@include larger-than(700px) {
  .stockInfo {
    .stockStatus {
      font-size: 18px;
      padding: 3px 14px;
      font-weight: 500;
      border-radius: 20px;
      color: #333d4b;
      background-color: #f9fafb;
    }

    .stockName {
      font-size: 30px;
    }

    .stockSecurities {
      font-size: 18px;
    }
  }

  .roundedContainer {
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    padding: 25px 30px;
  }

  .stockInfoItem {
    .stockInfoLabel {
      min-width: 180px;
    }
  }

  .securityName {
    flex: 2;
  }

  .rate {
    flex: 3;
    text-align: center;
  }

  .tableHeader {
    padding-top: 5px;
    padding-bottom: 25px;
    font-weight: 700;
  }

  .moreInfoButton {
    font-size: 16px;
  }
}