@use '@/styles/mixins'as *;


.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  @include horizontal-padding;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(0, 0, 0);

  .siteName {
    color: red;
    font-weight: 600;
  }
}

.prepareButton {
  padding-top: 10px;
  padding-bottom: 10px;
}

@include larger-than(700px) {
  .introduction {
    font-size: 35px;

    .secondLine {
      display: flex;
    }
  }
}

@include larger-than(900px) {
  .introduction {
    font-size: 45px;

    .secondLine {
      display: flex;
    }
  }
}