html,
body {
  padding: 0;
  margin: 0;
  font-family: Interop, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
}

html {
  // scroll-behavior: smooth;
  overflow-anchor: none;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: black;
  font-size: 18px;
  letter-spacing: -0.01em;
  transition: background-color 300ms ease,
    color 300ms ease;
  -webkit-tap-highlight-color: transparent;
  word-break: keep-all;
  overflow-wrap: break-word;
  min-height: calc(100vh + 1px);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

img {
  pointer-events: none;
  user-select: none;
}

code {
  font-family: 'Cascadia Code', monospace;
  font-size: 0.9em;
}